{template 'top'}
 <script type="text/javascript" src="{AJ_SKIN}/js/Autocompleter/lib/jquery.js"></script>
<script type='text/javascript' src='{AJ_SKIN}/js/Autocompleter/jquery.autocomplete.js'></script>
<script type='text/javascript' src='{AJ_SKIN}/js/FormValid.js'></script>
<script type='text/javascript' src='{AJ_SKIN}/js/FV_onBlur.js'></script>
<script type='text/javascript' src='{AJ_SKIN}/js/thickbox.js'></script>
<link rel="stylesheet" type="text/css" href="{AJ_SKIN}/js/Autocompleter/lib/thickbox.css" />
<link rel="stylesheet" type="text/css" href="{AJ_SKIN}/js/Autocompleter/jquery.autocomplete.css" />

<script type="text/javascript">
FormValid.showError = function(errMsg,errName,formName) {
	if (formName=='dataForm') {
		for (key in FormValid.allName) {
			//document.getElementById('errMsg_'+FormValid.allName[key]).innerHTML = '';
			//document.getElementById('errMsg_'+FormValid.allName[key]).style.display = 'none';
			
		}
		for (key in errMsg) {
			document.getElementById('errMsg_'+errName[key]).innerHTML = errMsg[key];
			document.getElementById('errMsg_'+errName[key]).style.display = '';
			
		}
	}
}
function addToBoroughItem(bid,bname,b_addr,b_area){
	$("#userid").val(bid);
	$("#company").val(bname);

}
$().ready(function() {
	$("#company").autocomplete("ajaxb.php?action=getBoroughList", {
		minChars: 2,
		width: 260,
		delay:0,
		mustMatch:true,
		matchContains: false,
		scrollHeight: 220,
		selectFirst:true,
		scroll: true,
		formatItem: function(data, i, total) {
			if(data[1]){
				return data[0];
			}
			return '添加新公司:'+data[0];
		}
	});
	
	$("#company").result(function(event, data, formatted) {
		if(data[1]=="addBorough"){
			
			$(this).val('');
		}else{
			$("#userid").val(data[1]);
		
		}
		
		/*if (data)
			$(this).parent().next().find("input").val(data[1]);*/
	});
});

</script>
<style type="text/css">
.tl{width:150px;text-align:right;padding-right:20px;}
.reg_title {border-bottom:#CCCCCC 1px solid;font-weight:bold;padding:0 0 10px 10px;margin:15px 55px 0 55px;font-size:14px;color:#FF6600;}
.reg_inp {border:#7F9DB9 1px solid;padding:3px 0 3px 0;}
.tips {position:absolute;z-index:1000;width:300px;background:url('image/tips_bg.gif') no-repeat 0 bottom;overflow:hidden;margin:-5px 0 0 -10px;}
.tips div{background:url('image/tips_top.gif') no-repeat;line-height:22px;padding:8px 10px 8px 35px;}
</style>
<div id='main'>
<div class="m" style="text-align:left">
	<div class="left_box">
	<div class="pos" style="text-indent:1em; background: #EEFEED; line-height:35px;">当前位置: <a href="{$MODULE[1][linkurl]}">首页</a> &raquo; 电话被冒用</div>
	<div style="padding:20px 50px 20px 50px;border:1px solid #CCCCCC; font-size:14px;">
		<form name="form2" method="post" action="?bu=2" onsubmit="return check1();">
					<table width="100%" border="0" cellpadding="0" cellspacing="3" bgcolor="#EEFEED">
                      <tr>
                        <td width="23%" align="right" class="class6">输入被冒用的手机号:</td>
                        <td width="77%" height="40">
						<input name="shoujihao" type="text" id="shoujihao" style="height:25px; line-height:25px; font-size:14px; border:1px solid #CCCCCC" /> 
						<span style="padding-right:20px;">
						<input type="submit" name="Submit2" value="下一步" style="height:25px; line-height:25px; text-align:center; font-size:14px; width:60px; border:1px solid #666666"  />
						</span> </td>
                      </tr>
                    </table>
		<?php 
		$_SESSION['yzm']=mt_rand(999,9999);
		?></form></div>
		<br/>
		
		<script>function check1()
		{ 
		//var pattern=/^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]w+)*$/; 
		var shoujihao = document.getElementById("shoujihao").value; 
		if(shoujihao.length < 11)  {
		alert("请输入正确手机号码!"); 
		return false;
		}
		}
		</script>
						
		<br/>
		</div>
	</div>
	</div>{template 'footer'}
	</div>
</div>
