<div style="clear:both"></div>
<div class="footer"><a href="{$MODULE[1][linkurl]}">网站首页</a>  <!--{tag("table=webpage&condition=item=1&areaid=$cityid&order=listorder desc,itemid desc&template=list-webpage")}--> <br />
 {$DT[copyright]}</div>
 <!--[系统关键代码，请勿删除]-->
<div id="back2top" class="back2top"><a href="javascript:void(0);" title="返回顶部">&nbsp;</a></div>
<script type="text/javascript">
{if $destoon_task}
show_task('{$destoon_task}');
{else}
{php include DT_ROOT.'/api/task.inc.php';}
{/if}
{if $lazy}$(function(){$("img").lazyload();});{/if}
$('#back2top').click(function() {
	$("html, body").animate({scrollTop:0}, 200);
});
</script>