
<!--导航 begin -->
<div class="nav">
<ul class="link1">
<li class="link2"><a href="http://search.xafc.com/">新房首页</a></li>
<li class="aa"><a href="http://search.xafc.com/list.html">楼盘超市</a></li>
<li class="aa"><a href="http://search.xafc.com/list-o1.html">本月开盘</a></li>
<li class="aa"><a href="http://news.xafc.com/list-131-1.html">楼市预告</a></li>
<li class="aa"><a href="http://news.xafc.com/list-339-1.html">楼盘速递</a></li>
<li class="aa"><a href="http://news.xafc.com/list-14-1.html">楼市快报</a></li>
<li class="aa"><a href="http://news.xafc.com/list-132-1.html">看房日记</a></li>
<li class="aa"><a href="http://news.xafc.com/list-326-1.html">小编探盘</a></li>
<li class="ab"><a href="http://search.xafc.com/wenfang-p1.html">问房</a></li>
<li class="aa"><a href="http://kj.xafc.com">联盟团购</a></li>
<li class="aa"><a href="http://search.xafc.com/qqqun.html">业主QQ群</a></li>
</ul>
</div>
<div class="hr10"></div>
<!--导航 end -->