<dl class="sale_1">
<dd>联系人：</dd>
<dt><input name="post[truename]" type="text" id="truename" size="10" value="{$truename}" /> <span id="dtruename" class="f_red"></span></dt>
<dd>电话号码：</dd>
<dt><input name="post[telephone]" id="telephone" type="text" size="13" value="{$telephone}"/> <span id="dtelephone" class="f_red"></span></dt>
<dd>手机号码：</dd>
<dt><input name="post[mobile]" id="mobile" type="text" size="13" value="{$mobile}"/> <span id="dmobile" class="f_red"></span></dt>
<dd>电子邮件：</dd>
<dt><input name="post[email]" id="email" type="text" size="18" value="{$email}" /> <span id="demail" class="f_red"></span></dt>

</dl>