{if in_array($moduleid, explode(',', get_module_setting(3, 'wenfang_module')))}


<div class="cen_box" id="wenfang"  style="display:;">
<div class="cen_wrap">
<div class="title_map link5"><span class="nstyle">{$title}问房信息<font style="color: #999; font-weight: normal;"></font></span></div>
<div class="title_wen_cen">

<script type="text/javascript">show_wenfang('{$MODULE[3][linkurl]}', {$moduleid}, {$itemid});</script>
</div>
<div class="title_detail_cen">
<div class="title_news">


</div>
</div>

<div class="cen_end"></div>
<div class="hr10"></div>
</div>

</div>
	
{/if}