{template 'header', $template}
  <link rel="stylesheet" type="text/css" href="{AJ_SKIN}sell/pages.css"/>
  <div class="shop_main">
    <div class="left_side">
       <!--经纪人信息-->
      <div class="message">
        <h1><a href="{$COM[linkurl]}">{$COM[truename]}的店铺</a></h1>
        <div class="m_tex">
          <p class="photo"><img src="{imgurl($COM[thumb], 1)}" width="140" height="140"><br>
            <b>{$COM[truename]}</b></p>
			
          <a class="btn_1" href="{$MODULE[2][linkurl]}message.php?action=send&touser={$COM[username]}" style="cursor:pointer;"></a>
          <p class="renzheng">
		  {if $COM[vtruename]}<img align="absmiddle" title="已通过身份证认证" src="{AJ_SKIN}image/sell/identity_yes.gif">{else}<img align="absmiddle" title="未通过身份证认证" src="{AJ_SKIN}image/sell/identity_no.gif">{/if}
		   {if $COM[vcompany]}<img align="absmiddle" title="已通过职业资格认证" src="{AJ_SKIN}image/sell/aptitude_yes.gif">{else}<img align="absmiddle" title="未通过职业资格认证" src="{AJ_SKIN}image/sell/aptitude_no.gif">{/if}</p>
          <ul>
            <li>电话：<span class="red">{if $domain}{$COM[mobile]}{else}{anti_spam($COM[mobile])}{/if}{if $AJ[sms] && $COM[vmobile]}&nbsp;&nbsp;<a href="{$MODULE[2][linkurl]}sms.php?action=add&auth={encrypt($COM[mobile])}" target="_blank"><img src="{AJ_SKIN}image/sendsms.gif" align="absmiddle" title="发送短信" alt=""/></a>{/if}</span></li>
            <li>即时通讯：{if $COM[username] && $AJ[im_web]}{im_web($COM[username])}&nbsp;{/if}
	{if $COM[qq] && $AJ[im_qq]}{im_qq($COM[qq])}&nbsp;{/if}
	{if $COM[ali] && $AJ[im_ali]}{im_ali($COM[ali])}&nbsp;{/if}
	{if $COM[msn] && $AJ[im_msn]}{im_msn($COM[msn])}&nbsp;{/if}
	{if $COM[skype] && $AJ[im_skype]}{im_skype($COM[skype])}&nbsp;{/if}</li>
            <li>服务：{area_pos($COM[areaid], '/')}</li>
            <li>公司：{$COM[company]} </li>
			<li>认证：{if $COM[vcompany]}&nbsp;<img src="{$MODULE[2][linkurl]}image/v_company.gif" width="16" height="16" align="absmiddle" title="资料通过工商认证"/>{/if}
	{if $COM[vtruename]}&nbsp;<img src="{$MODULE[2][linkurl]}image/v_truename.gif" width="16" height="16" align="absmiddle" title="资料通过实名认证"/>{/if}
	{if $COM[vbank]}&nbsp;<img src="{$MODULE[2][linkurl]}image/v_bank.gif" width="16" height="16" align="absmiddle" title="资料通过银行帐号认证"/>{/if}
	{if $COM[vmobile]}&nbsp;<img src="{$MODULE[2][linkurl]}image/v_mobile.gif" width="16" height="16" align="absmiddle" title="资料通过手机认证"/>{/if}
	{if $COM[vemail]}&nbsp;<img src="{$MODULE[2][linkurl]}image/v_email.gif" width="16" height="16" align="absmiddle" title="资料通过邮件认证"/>{/if}
	{if $COM[validated]}&nbsp;<img src="{AJ_SKIN}image/check_right.gif" align="absmiddle"/> 企业资料通过{$COM[validator]}认证{/if}	</li>
          </ul>
        </div>
      </div>
       </div>    
    <!--右边-->
    <div class="right">
      <div class="nav">
<span class="a_guanli"><a href="{$MODULE[2][linkurl]}"></a></span>

<a href="{$COM[linkurl]}" class="{if $file=='homepage'}select{else}{/if}">首页</a>
{loop $MENU $k $v}
<a href="{$v[linkurl]}" class="{if $file==$menu_file[$k]}select{else}{/if}">{$v[name]}</a>
{/loop}</div> 

  <div class="b_shop">
      	<h2>经纪人</h2>
{if $itemid}
<div class="main_body">
	<div class="title">{$title}</div>
	<div class="info">上传时间：{timetodate($addtime, 3)}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;浏览次数：{$hits}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{$MENU[$menuid][linkurl]}">返回列表</a></div>
	<div class="content">
	<table cellpadding="5" cellspacing="1" width="100%" bgcolor="#CCCCCC">
	<tr>
	<td bgcolor="#FAFAFA" width="120" class="t_c f_b">发证机构：</td>
	<td bgcolor="#FFFFFF">&nbsp;&nbsp;{$authority}</td>
	<td bgcolor="#FAFAFA" width="120" class="t_c f_b">发证时间 ：</td>
	<td bgcolor="#FFFFFF">&nbsp;&nbsp;{timetodate($fromtime, 3)}</td>
	</tr>
	<tr>
	<td bgcolor="#FAFAFA" class="t_c f_b">上传时间 ：</td>
	<td bgcolor="#FFFFFF">&nbsp;&nbsp;{timetodate($addtime, 3)}</td>
	<td bgcolor="#FAFAFA" class="t_c f_b">有效期至 ：</td>
	<td bgcolor="#FFFFFF">&nbsp;&nbsp;{if $totime}{timetodate($totime, 3)}{else}永久{/if}</td>
	</tr>
	</table>
	</div>
	
</div>
{if $content}
<div class="main_head"><div><strong>证书介绍</strong></div></div>
<div class="main_body">
	<div class="content">{$content}</div>
</div>
{/if}
<div class="main_head"><div><strong>证书图片</strong></div></div>
<div class="main_body">
	<br/><center><a href="{$image}" target="_blank"><img src="{$image}" onload="if(this.width>600) this.width=600;" alt="{$title}"/></a></center><br/>
</div>
{else}
<div class="main_body">
	<div class="px13 lh18">
	<table cellpadding="2" cellspacing="2" width="100%" align="center">
	<tr bgcolor="#F1F1F1">
	<th width="130" height="25" style="text-align:center;">经纪人</th>
	<th style="text-align:center;">经纪人姓名</th>
	
	<th style="text-align:center;">日期</th>
	
	</tr>
	{loop $lists $k $v}
	<tr align="center">
	<td style="padding:10px 0 10px 0;"><a href="/index.php?homepage={$v[username]}"><img src="{if $v[thumb]}{$v[thumb]}{else}{AJ_SKIN}image/nophoto_90x90.gif{/if}" width="100" height="100"/></a></td>
	<td bgcolor="#FBFBFB"><a href="/index.php?homepage={$v[username]}">{$v[username]}</a></td>
	
	<td bgcolor="#FBFBFB" class="f_gray">{timetodate($v[editdate], 3)}</td>
	
	</tr>
	{/loop}
	</table>
	</div>
	<div class="pages">{$pages}</div>
</div>
{/if}
		

      </div>
	  
    </div>
  </div>
  <!--底部-->
{template 'footer', $template}
